<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<dict>

<key>items</key>

<array>

<dict>

<key>assets</key>

<array>

<dict>

<key>kind</key>

<string>software-package</string>

<key>url</key>

<string>https://roo104.us-east-1.linodeobjects.com/na104_20230331.ipa</string>

</dict>

</array>

<key>metadata</key>

<dict>

<key>bundle-identifier</key>

<string>com.gravity.ragnarokorigin.ios</string>

<key>bundle-version</key>

<string>0.2.0</string>

<key>kind</key>

<string>software</string>

<key>title</key>

<string>Origin World</string>

</dict>

</dict>

</array>

</dict>

</plist>


